<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.user_first_name %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @user.user_last_name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.user_cpf %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
