<div id="<%= dom_id rega %>">
  <p>
    <strong>Planta:</strong>
    <%= rega.planta_nome %>
  </p>

  <p>
    <strong>Última rega:</strong>
    <%= rega.dia%>/<%= rega.mes%> às <%= rega.hora%>h
  </p>

</div>
