<h1>Cadastro de videos</h1>

<%= form_with scope: :video, url: videos_path, local: true do |form| %>
  <p>
    <%= form.label :Nome%><br>
    <%= form.text_field :nome_da_planta %>
  </p>

  <p>
    <%= form.label :Descrição%><br>
    <%= form.text_field :nome_do_video %>
  </p>

  <p>
    <%= form.label :Provedor%><br>
    <%= form.text_field :provedor %>
  </p>

  <p>
    <%= form.label :Link%><br>
    <%= form.text_field :link %>
  </p>

  <p>
    <%= form.submit 'Salvar video'%>
  </p>
<% end %>