<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2E8B57;">
  <div class="container-fluid">
    <%= link_to 'Planta a Planta!', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        

        

        <% if user_session_signed_in? %>

          <li class="nav-item">
            <%= link_to 'Plantas', plants_path, class:"navbar-brand"%>
          </li>

          <li class="nav-item">
            <%= link_to 'Videos', videos_path, class:"navbar-brand"%>
          </li>

          <li class="nav-item">
            <%= link_to 'Perfil',  edit_user_session_registration_path, class:"navbar-brand"%>
          </li>

          <li class="nav-item">
            <%= link_to 'Sair', destroy_user_session_session_path, method: :get, class:"navbar-brand"%>
          </li>

        <%else%>
          <li class="nav-item">
            <%= link_to 'Cadastrar',  new_user_session_registration_path, class:"navbar-brand"%>
          </li>

         <li class="nav-item">
            <%= link_to 'Entrar', new_user_session_session_path, class:"navbar-brand"%>
         </li>
        <%end%>


        
      </ul>
    </div>
  </div>
</nav>

<%= link_to "Regas", regas_path %>
