<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :plant_name %>
  </div>

  <div class="field">
    <%= form.label :Intervalo_de_rega_em_horas %>
    <%= form.number_field :water_hour_interval %>
  </div>

  <div class="field">
    <%= form.label :Intervalo_de_fertilização_em_horas %>
    <%= form.number_field :fertilizer_hour_interval %>
  </div>

  <div class="field">
    <%= form.label :Poda %>
    <%= form.check_box :prunning %>
  </div>

  <div class="field">
    <%= form.number_field :user_session_id, id: :plant_user_session_id, value: current_user_session.id, type: :hidden %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit :Cadastrar %>
  </div>
<% end %>
