<p id="notice"><%= notice %></p>

<h1>Plantas</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Intervalo de rega (em horas)</th>
      <th>Intervalo de fertilização (em horas)</th>
      <th>Requer Poda</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <%if plant.user_session == current_user_session%>
        <tr>
          <td><%= plant.plant_id %></td>
          <td><%= plant.plant_name %></td>
          <td><%= plant.water_hour_interval %></td>
          <td><%= plant.fertilizer_hour_interval %></td>
          <%if plant.prunning%>
            <td>Sim</td>
          <% else %>
            <td>Não</td>
          <%end%>
          <td><%= link_to 'Visualizar', plant, class:"btn btn-primary" %></td>
          <td><%= link_to 'Editar', edit_plant_path(plant), class:"btn btn-secondary" %></td>
          <td><%= button_to 'Deletar', plant, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class:"btn btn-danger" %></td>
        </tr>
        <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Planta', new_plant_path, class:"btn btn-success" %>