<p id="notice"><%= notice %></p>

<h1>Lista de Plantas</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Intervalo de rega (em horas)</th>
      <th>Intervalo de fertilização (em horas)</th>
      <th>Requer Poda</th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.plant_id %></td>
        <td><%= plant.plant_name %></td>
        <td><%= plant.water_hour_interval %></td>
        <td><%= plant.fertilizer_hour_interval %></td>
        <td><%= plant.prunning %></td>
        <td><%= link_to 'Visualizar', plant %></td>
        <td><%= link_to 'Editar', edit_plant_path(plant) %></td>
        <td><%= link_to 'Deletar', plant, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Planta', new_plant_path %>
