<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plant_id %>
    <%= form.number_field :plant_id %>
  </div>

  <div class="field">
    <%= form.label :plant_name %>
    <%= form.text_field :plant_name %>
  </div>

  <div class="field">
    <%= form.label :water_hour_interval %>
    <%= form.number_field :water_hour_interval %>
  </div>

  <div class="field">
    <%= form.label :fertilizer_hour_interval %>
    <%= form.number_field :fertilizer_hour_interval %>
  </div>

  <div class="field">
    <%= form.label :prunning %>
    <%= form.check_box :prunning %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
